@page "/Profile"

<PageTitle>Profile</PageTitle>

<body class="back-profile">
    
    <div id="profile">
        <img src="clark.jpg" />
    </div> 
    <div id="name">
        <h4>Clark James G. Yaun</h4>
        <h5>Bogoy Bogoy Pero Naay Pangandoy</h5>
    </div>
</body>
    
    
    