
@page "/Project"

<PageTitle>Profile</PageTitle>

<body class="back-project">

    <div id="project">
        <h1>PROJECTS</h1>
        <h4>CREATE A CHIP THAT HAS AN UNLIMITED LOAD</h4>
        <h4>PORTFOLIO</h4>
        <h4>BASIC CALCULATOR</h4>
        <h4>CHAT BOX</h4>
    </div>
    
</body>
    