@page "/Skills"

<PageTitle>Skills</PageTitle>

<PageTitle>Profile</PageTitle>

<body class="back-skills">
    <div id="skills">
        <h1>SKILLS</h1>
        <h2>Ctrl + c</h2>
        <h2>Ctrl + v</h2>
        <h2>Ctrl + z</h2>
    </div>
</body>
<!--<body id="backSkills">

    <div id="position">
        <h1>Skills</h1>
        <h2>Ctrl + c</h2>
        <h2>Ctrl + v</h2>
        <h2>Ctrl + z</h2>
    </div>

</body>-->


<!--  "/Skills"

<PageTitle>Skills</PageTitle>

<body id="backSkills">

    <div id="position">
        <h1>Skills</h1>
        
           <h2>Ctrl + c</h2>
           <h2>Ctrl + v</h2>
           <h2>Ctrl + z</h2>           

    </div>

</body>
-->
